@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: 'Arcane Nine';
  src: url('/fonts/ArcaneNine-Modded.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #0A1428;
  background-image: radial-gradient(circle at center, #1A2E4F 30%, #0A1428 100%);
}

@layer components {

.btn-octagon {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.player-score {
    @apply font-arcane font-black transition-all duration-300 -mt-4
           /* --- Default (Portrait Small) --- */
           text-[8rem]
           /* --- Portrait Breakpoints --- */
           portrait:md:text-[12rem]
           portrait:lg:text-[14rem]
           portrait:xl:text-[20rem]
           /* --- Landscape Breakpoints --- */
           landscape:text-[10rem]
           landscape:md:text-[12rem]
           landscape:lg:text-[14rem];
  }

  .player-button {
    @apply /* --- Default (Portrait Small) --- */
           w-12 h-12 border-2
           /* --- Portrait Breakpoints --- */
           md:w-20 md:h-20 md:border-2
           lg:w-32 lg:h-32
           /* --- Landscape Breakpoints --- */
           landscape:w-16 landscape:h-16 landscape:border-0
           landscape:lg:w-20 landscape:lg:h-20 landscape:lg:border-4
           /* --- Shared Styles --- */
           flex items-center justify-center
           bg-transparent text-arcane-gold/80 border-arcane-gold/30
           hover:text-hextech-blue hover:border-arcane-gold/70 transition-all duration-200
           active:transform active:scale-90;
  }

.player-button-icon {
    @apply /* --- Default (Portrait Small) --- */
           w-12 h-12
           /* --- Portrait Breakpoints --- */
           md:w-12 md:h-12
           /* --- Landscape Breakpoints --- */
           landscape:w-7 landscape:h-7
           landscape:md:w-9 landscape:md:h-9
           landscape:lg:w-12 landscape:lg:h-12;
}

.settings-button {
    @apply /* --- Default --- */
           p-2
           /* --- Breakpoints --- */
           md:p-2.5
           lg:p-3
           xl:p-4
           /* --- Shared Styles --- */
           bg-arcane-plate btn-octagon transition-all duration-200;
}

.settings-icon {
    @apply /* --- Default --- */
           w-5 h-5
           /* --- Breakpoints --- */
           md:w-7 md:h-7;
}

.player-rune-icon {
    @apply /* --- Default (Portrait Small) --- */
           w-6 h-6 rounded-md
           /* --- Portrait Breakpoints --- */
           md:w-8 md:h-8
           lg:w-10 lg:h-10
           /* --- Landscape Breakpoints --- */
           landscape:w-7 landscape:h-7
           landscape:md:w-10 landscape:md:h-10
           landscape:lg:w-12 landscape:lg:h-12;
  }
}

@media (max-height: 450px) {
  .player-score {
    @apply text-[7rem];
  }
  .player-button {
    @apply w-14 h-14 border-0;
  }
  .player-button-icon {
    @apply w-7 h-7;
  }
}
